In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark import SparkContext
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession

In [ ]:
sc = SparkContext()

In [ ]:
spark = SparkSession(sc)

In [ ]:
#1. 
df = spark.read.csv(['Cung cap du lieu buoi 4/AA_data'], header = True, inferSchema = True)

In [ ]:
#2.
df.count()

583718

In [ ]:
df.show(5)

+-----------------+-------------+-------------------+-----------------------------+
|Date (MM/DD/YYYY)|Flight Number|Destination Airport|Actual elapsed time (Minutes)|
+-----------------+-------------+-------------------+-----------------------------+
|       01/01/2014|            5|                HNL|                          519|
|       01/01/2014|            7|                OGG|                          505|
|       01/01/2014|           35|                SLC|                          174|
|       01/01/2014|           43|                DTW|                          153|
|       01/01/2014|           52|                PIT|                          137|
+-----------------+-------------+-------------------+-----------------------------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- Date (MM/DD/YYYY): string (nullable = true)
 |-- Flight Number: integer (nullable = true)
 |-- Destination Airport: string (nullable = true)
 |-- Actual elapsed time (Minutes): integer (nullable = true)

In [ ]:
from pyspark.sql.functions import col, udf
from pyspark.sql.functions import isnan, when, count, col

In [ ]:
#3. Check for NaN, Null values
df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).toPandas().T

                               0
Date (MM/DD/YYYY)              0
Flight Number                  0
Destination Airport            0
Actual elapsed time (Minutes)  0

In [ ]:
# => No NaN values

In [ ]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).toPandas().T

                               0
Date (MM/DD/YYYY)              0
Flight Number                  0
Destination Airport            0
Actual elapsed time (Minutes)  0

In [ ]:
# No Null values

In [ ]:
#4. Check for duplicated values and remove.

In [ ]:
num_rows = df.count()

In [ ]:
num_dist_rows = df.distinct().count()

In [ ]:
dup_rows = num_rows - num_dist_rows

In [ ]:
dup_rows

0

In [ ]:
# No duplicated values

## Lazy processing operations

In [ ]:
from pyspark.sql.functions import *

In [ ]:
#5. Add the airport column using the F.Lower() method
df = df.withColumn('airport', lower(df['Destination Airport']))

In [ ]:
df = df.drop('Destination Airport')

In [ ]:
df.show(5)

+-----------------+-------------+-----------------------------+-------+
|Date (MM/DD/YYYY)|Flight Number|Actual elapsed time (Minutes)|airport|
+-----------------+-------------+-----------------------------+-------+
|       01/01/2014|            5|                          519|    hnl|
|       01/01/2014|            7|                          505|    ogg|
|       01/01/2014|           35|                          174|    slc|
|       01/01/2014|           43|                          153|    dtw|
|       01/01/2014|           52|                          137|    pit|
+-----------------+-------------+-----------------------------+-------+
only showing top 5 rows

In [ ]:
#6. Add column date, using column Date (MM/DD/YYYY), drop Date (MM/DD/YYYY)

In [ ]:
df = df.withColumn('date', df['Date (MM/DD/YYYY)'])

In [ ]:
df = df.drop('Date (MM/DD/YYYY)')

In [ ]:
df.show(5)

+-------------+-----------------------------+-------+----------+
|Flight Number|Actual elapsed time (Minutes)|airport|      date|
+-------------+-----------------------------+-------+----------+
|            5|                          519|    hnl|01/01/2014|
|            7|                          505|    ogg|01/01/2014|
|           35|                          174|    slc|01/01/2014|
|           43|                          153|    dtw|01/01/2014|
|           52|                          137|    pit|01/01/2014|
+-------------+-----------------------------+-------+----------+
only showing top 5 rows

In [ ]:
#7.
df = df.withColumnRenamed('Flight Number', 'flight_num')
df = df.withColumnRenamed('Actual elapsed time (Minutes)', 'actual_time')

In [ ]:
df.show(5)

+----------+-----------+-------+----------+
|flight_num|actual_time|airport|      date|
+----------+-----------+-------+----------+
|         5|        519|    hnl|01/01/2014|
|         7|        505|    ogg|01/01/2014|
|        35|        174|    slc|01/01/2014|
|        43|        153|    dtw|01/01/2014|
|        52|        137|    pit|01/01/2014|
+----------+-----------+-------+----------+
only showing top 5 rows

## Parquet format

In [ ]:
#8. Save the df DataFrame in Parquet format
df.write.parquet('AA_DFW_ALL.parquet.1', mode = 'overwrite')

In [ ]:
#9. Read the Parquet file into a new DataFrame
df_new = spark.read.parquet('AA_DFW_ALL.parquet.1')

In [ ]:
print(df_new.count())

583718

## SQL and Parquet

In [ ]:
#10. Register the temp table
df_new.createOrReplaceTempView('flights')

In [ ]:
# Run a SQL query of the average Actual elapsed time
avg_duration = spark.sql('SELECT avg(actual_time) from flights').collect()[0]
print('The average flight time is: %d' % avg_duration)

The average flight time is: 147

## Improving Performance
### Caching a DataFrame
- Caching can improve performance when reusing DataFrame

In [ ]:
import time

In [ ]:
#11.
start_time = time.time()

# Add caching to the unique rows in df_new
df_new = df_new.distinct().cache()

# Count the unique rows in df_new, noting how long the operation takes
print('Counting %d rows took %f seconds' %
      (df_new.count(), time.time() - start_time))

Counting 583718 rows took 2.537309 seconds

In [ ]:
# Count the rows again, noting the variance in time of a cached DataFrame
start_time = time.time()
print('Counting %d rows again took %f seconds' % 
      (df_new.count(), time.time() - start_time))

Counting 583718 rows again took 0.501455 seconds

## Removing a DataFrame from cache

In [ ]:
# Determine if df_new is in the cache
print('Is df_new cached?: %s' % df_new.is_cached)
print('Removing df_new from cache')

# Remove df_new from the cache
df_new.unpersist()

# Check the cache status again
print('Is df_new cached?: %s' % df_new.is_cached)

Is df_new cached?: True
Removing df_new from cache
Is df_new cached?: False

- Note: Converting to a larger number of files with approximately equal  quantity of rows lets Spark decide how best to read the data

## Cluster Configurations

In [ ]:
# Name of the Spark application instance
app_name = spark.conf.get('spark.app.name')

# Driver TCP port
driver_tcp_port = spark.conf.get('spark.driver.port')

# Number of join partitions
num_partitions = spark.conf.get('spark.sql.shuffle.partitions')

# Show the results
print('Name: %s' % app_name)
print('Driver TCP port: %s' % driver_tcp_port)
print('Number of partitions: %s' % num_partitions)

Name: pyspark-shell
Driver TCP port: 52306
Number of partitions: 200

In [ ]:
# Store the number of partitions in variable
before = df_new.rdd.getNumPartitions()

# Configure Spark to use 500 partitions
spark.conf.set('spark.sql.shuffle.partitions', 500)

# Recreate the DataFrame using the departures data file
df_new = spark.read.parquet('AA_DFW_ALL.parquet.1').distinct()

# Print the number of partitions for each instance
print('Partition count before change: %d' % before)
print('Partition count after change: %d' % df_new.rdd.getNumPartitions())

Partition count before change: 200
Partition count after change: 500

### Save data to json file

In [ ]:
df_new.write.json('AA_DFW_ALL.json')